body {
    display: inline-flex; 
    padding: 88px 80px 48px 80px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 65px;
}

main {
    display: flex;
    width: 1120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.title-page {
    display: flex;
    height: 79px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.headline {
    color: #E1624F;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.Conheca-Busan {
    /* width: 275px 43px; */
    color: #1B1B1B;
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* padding: 0px 0px 48px 0px; */
    margin: 0;
}

.description-image {
    display: flex;
    padding: 4px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.description-image img {
    border-radius: 28px;
}

.subtitle {
    height: 37px;
    align-self: stretch;
    color: #333;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.content-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
}

.divisor {
    width: 1120px;
    height: 1px;
    background: #D9D9D9;
}

.title-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.headline {
    color: #E1624F;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.h2 {
    color: #1B1B1B;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragraph {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 48px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 48px;
    align-self: stretch;
}

.card-travel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.card-travel img {
    border-radius: 28px;
}

.content-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.h3 {
    width: 1183.508px;
    color: #1B1B1B;
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragraph3 {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.bom-para {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Historia {
    color: #0C51A7;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.casais {
    color: #591B98;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.familias {
    color: #E5245E;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.orcamento {
    color: #E95E10;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.custom-list {
    gap: 48px;
    align-self: stretch;
    padding: 0px;
    flex-direction: column;
    color: #1B1B1B;
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }

  .custom-list li {
    margin-left: 30px; 
  }

  .description {
    color: #333333;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    text-align: center;
  }

footer {
    color: #333333;
    font-size: 16px;
    font-family: Alice, sans-serif;
    font-weight: 400;
    line-height: 24px;
    display: flex;
}
.FeitoCom, .PorDnlDev {
    padding: 10px;
}