:root {
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #F5F4F0;
    width: 1120px;
    height: auto;
    padding: 0;
    
}

#title-page {
    margin: 30px;
    display: inline-block;
    height: auto;
    width: auto;

}

#title-page p {
    color: #E1624F;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0%;
    text-align: left;
    text-align: top;
    padding: 0 0;
    margin-bottom: 8px;
    margin-top: 0;
    line-height: auto;
}

#title-page h1 {
    color: #1b1b1b;
    text-align: left;
    text-align: top;
    margin-top: 0%;
    margin-bottom: 0;
}

#description-image {
    width:1120px;
    height: auto;
    margin: 24px;
    text-align: top center;
    padding: 0 4;
    color: #333333;
}

#description-image p {
    font-size: 16px;
    font-style: italic
    max-width: 1120px;
    height: 37px;
    text-align: center;
    width: 100%;
}

#headline {
    color: #E1624F;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    text-align: top;
}